[Unit]
Description=Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-{{ node_exporter_config_file }}
ExecStart={{ node_exporter_dir }}/node_exporter $OPTIONS
ExecStop=/bin/kill -TERM ${MAINPID}
ExecReload=/bin/kill -HUP ${MAINPID}
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
